@media screen and (max-width: 570px) {
  .carousel{
    width: 100%;
    height: 50%;}

    header {
      height: 80px;
      justify-content: space-around;
      align-items: center;
      padding: 0px;
    }

    header .logo-container {
      display: flex;
      
      justify-content: space-between;
      text-align: center;
      align-items: center;
      
       
    }

    header.logo-container h1 {
      margin: 0;
      font-size: 10px;
    }

    section{
      padding-top: 250px;
    }
  }

  @media screen and (min-width: 1600px) {
    section {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
        padding: 100px;
    }

    .preview {
      margin-top: 100px;
      
    }
  
  }
    
